:root {
    --main-color: rgb(48, 48, 48);
}

html, body {
    background-color: var(--main-color) !important;
}


body {
    background-color: #303030;
    color: #ccc;

    color-scheme: normal;
}

body #leftside {
    background-color: #303030;
}
body #leftside .menublock {
    background-color: #2d2d2d;
}


body #rightside {
    background-color: #303030;
}


body input {
    -webkit-appearance: none !important;
}

body a {
    color: #0d6efd;
}

body table tr:first-child td.seprow {
    background-color: #454545;
}

body table.deftbl tr:nth-child(even) > th,
body table.deftbl tr:nth-child(even) > td,
body table.deftbl tr:nth-child(odd) > td{
    background-color: #515151;
}

body table.deftbl a {
    color: #1d7efd;
}

body td.dfc,
body pre {
    background-color: #303030;
    color: #eee;
}

body pre .el .ets {
    color: #aaa;
}

body th.resultheader,
body td.resulttotal {
    background-color: #3f3f3f;
}
body tr.testacc,
body pre code.dfg {
    background-color: #198754;
}
body tr.testfail,
body pre code.dfb {
    background-color: #dc3545;
}

body textarea {
    background-color: #343434;
    color: #ddd;
}

body textarea#linenums {
    background-color: #323232;
}
