:root {
    --main-color: rgb(13, 17, 23);
    --bgc-accent-color: rgb(1, 4, 9);
    --bgc-menu: rgb(22, 27, 34);
    --accent-color-light: rgb(33, 38, 45);
    --border-color: rgba(240, 246, 252, 0.1);

    --input-border-color: rgb(48, 54, 61);

    --font-color: rgb(201, 209, 217);
    --font-color-muted: rgb(139, 148, 158);

    --font-link-color: rgb(88, 166, 255);

    --danger-color: rgb(248, 81, 73);
    --danger-bgc: rgb(218, 54, 51);
    --danger-bgc-muted: rgba(252, 56, 56, 0.1);
    --danger-border-muted: rgba(252, 56, 56, 0.4);


    /* ----- TEST SPECIFIC COLOURS ----- */

    --test-correct-bgc: rgb(84, 183, 118);
    --test-correct-color: rgb(255, 255, 255);

    --test-error-bgc: rgb(173, 78, 201);
    --test-error-color: rgb(255, 255, 255);
}

html, body {
    background-color: var(--main-color) !important;
}

body {
    background-color: var(--main-color);
    color: var(--font-color);

    color-scheme: normal;
}

/* ----- INPUT ----- */
body input {
    -webkit-appearance: none !important;
}

/* ----- GENERAL LINK ----- */
body a {
    color: var(--font-link-color);
    text-decoration: none;
}

/* ----- HEADER ----- */
body #topbar {
    background-color: var(--bgc-accent-color);
}

/* ----- MENU ----- */
body #leftside {
    width: 23ex;

    background-color: var(--main-color);
    z-index: 1;
}

body #leftside .menublock {
    width: 23ex;

    background-color: var(--bgc-menu);
    border: 1px solid var(--border-color);
    border-radius: 6px;

    box-shadow: none;
}

body .menublock .menuhead {
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: var(--bgc-menu);
    border: none;
    border-bottom: 1px solid var(--border-color);

    font-weight: 700;
    font-size: 17px;
}

body .menublock .menuitem {
    padding: 2px 0;
}

body .menublock .menuitem a {
    color: var(--font-color);
}

body .menublock .menuitem:hover a {
    background-color: var(--bgc-menu);
    color: var(--font-color);
    font-weight: 500;
    text-decoration: underline  ;
}

/* ----- LOGIN FORM ----- */
body .menublock .menuitemnolink {
    box-sizing: border-box;
}

body .menublock form input {
    width: 142px;
    margin-bottom: 10px;

    padding: 6px 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    border: 1px solid var(--input-border-color);

    color: var(--font-color);
    outline: none;
}

body .menublock form input.loginedit {
    width: 120px;
}

/* ----- MAIN ELEMENT BGC ----- */
body #rightside {
    background-color: var(--main-color);
    padding-left: 30px;
}

/* ----- ERROR LOGIN MESSAGE ----- */
body #error.error {
    width: 25%;
    position: absolute;
    top: 10px;
    right: 10px;

    margin-left: auto;
    padding: 16px 20px;
    border-radius: 5px;

    background-color: var(--danger-bgc-muted);
    border: 1px solid var(--danger-border-muted);

    color: var(--font-color);
    font-weight: 500;
}

/* ----- TABLE ----- */
body table.deftbl {
    background-color: var(--main-color);
}

body table.deftbl tbody {
    display: block;
    overflow: hidden;

    border-radius: 8px;
    border: 1px solid var(--border-color);
}

body table.deftbl tr.seprow td.seprow {
    background-color: var(--bgc-menu);
    padding-left: 10px;
    padding-bottom: 5px;
}

tr.trow {
    border: none;
    border-bottom: 1px solid var(--border-color);
}
th.tcol { /* Separate to catch only the stupid first info row under table header */
    background-color: var(--bgc-menu);
    border: none;
    border-bottom: 1px solid var(--border-color);
}


body table.deftbl tbody tr.trow {
    background-color: var(--main-color);
}

body table.deftbl tbody tr.trow th,
body table.deftbl tbody tr.trow td {
    padding: 3px 6px;
}

body table.deftbl tbody tr.trow td {
    border-left: none;
    border-right: none;
}

body table.deftbl tbody tr.trow td:nth-of-type(4) a {
    color: var(--font-color);
}

/*
violet: rgb(110, 64, 201)
green: rgb(63, 185, 80)
oceanish: rgb(51, 179, 174)
pink: rgb(247, 120, 186)
background: rgb(237,104,96);
background: linear-gradient(90deg, rgba(237,104,96,1) 0%, rgba(155,60,185,1) 50%, rgba(51,179,174,1) 100%);

background: rgb(245,77,77);
background: linear-gradient(90deg, rgba(245,77,77,1) 0%, rgba(255,185,86,1) 50%, rgba(167,88,221,1) 100%);
*/
/* ----- MAIN PAGE WELCOME ----- */
body #content center {
    display: block;
    margin: 10px auto 20px;
    font-size: 20px;
}

/* ----- BIG STOS ----- */
body td.dfc,
body pre {
    background-color: var(--main-color);
    color: var(--font-color);
}

body pre .el .ets {
    color: var(--font-color);
}

/* ----- RESULT TABLE ----- */

body #result .resulttable {
    border: none;
    border-radius: 5px;
}

body #result .resulttable tbody {
    display: block;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

body #result .resulttable .trow .resultheader {
    border: none;
    border-radius: 1px solid var(--border-color);
    padding: 4px 8px;
}

body #result .resulttable .trow .testacc td,
body #result .resulttable .trow .testfail td {
    border: 1px solid var(--bgc-menu);
}

body th.resultheader,
body td.resulttotal,
body .dft .dh2 {
    background-color: var(--bgc-menu);
    padding: 5px;
}

body table.dft tbody {
    overflow: hidden;
}

body table.dft th,
body table.dft td {
    border: 1px solid var(--border-color);
}

body tr.testacc,
body pre code.dfg {
    background-color: var(--test-correct-bgc);
    color: var(--test-correct-color);
}

body tr.testfail,
body pre code.dfb {
    background-color: var(--test-error-bgc);
    color: var(--test-error-color);
}

body textarea {
    background-color: #343434;
    color: #ddd;
}

body textarea#linenums {
    background-color: #323232;
}

/* ----- FOOTER ----- */
body #content div:last-of-type font {
    color: var(--font-color-muted);
}
