:root {
    --main-color: rgb(13, 17, 23);
    --bgc-accent-color: rgb(1, 4, 9);
    --bgc-menu: rgb(22, 27, 34);
    --border-color: rgb(33, 38, 45);
    --font-color: rgb(201, 209, 217);
}

html, body {
    background-color: var(--main-color) !important;
}


body {
    background-color: var(--main-color);
    color: var(--font-color);

    color-scheme: normal;
}

/* ----- HEADER ----- */
body #topbar {
    background-color: var(--bgc-accent-color);
}

/* ----- MENU ----- */
body #leftside {
    background-color: var(--main-color);
}
body #leftside .menublock {
    background-color: var(--bgc-menu);
    border: 1px solid var(--border-color);
}

body .menublock .menuhead {
    background-color: var(--bgc-menu);
    border: none;
}

body #rightside {
    background-color: var(--main-color);
}


body input {
    -webkit-appearance: none !important;
}

body a {
    color: #0d6efd;
}

body table tr:first-child td.seprow {
    background-color: #454545;
}

body table.deftbl tr:nth-child(even) > th,
body table.deftbl tr:nth-child(even) > td,
body table.deftbl tr:nth-child(odd) > td{
    background-color: #515151;
}

body table.deftbl a {
    color: #1d7efd;
}

body td.dfc,
body pre {
    background-color: var(--main-color);
    color: var(--font-color);
}

body pre .el .ets {
    color: #aaa;
}

body th.resultheader,
body td.resulttotal {
    background-color: #3f3f3f;
}
body tr.testacc,
body pre code.dfg {
    background-color: #198754;
}
body tr.testfail,
body pre code.dfb {
    background-color: #dc3545;
}

body textarea {
    background-color: #343434;
    color: #ddd;
}

body textarea#linenums {
    background-color: #323232;
}
